/* .parent inherits from the following classes */
.parent table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0px 0px 15px;
    width: 100%;
    font-size: 13px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px rgba(255,255,255,0.94);
}
.parent th,
.parent td {
    padding: 3px 10px;
    text-align: center;
}
.parent th {
    width: -max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
}
.parent th[name="game"] {
    width: auto;
}
.parent th[name="retail"] {
    padding: 3px 13px;
}
.parent th[name="ratings"] {
    padding: 3px 35px;
}
.parent td[name="game"] {
    text-align: left;
}
.parent td[name="lowest"],
.parent td[name="retail"] {
    text-align: right;
}
.parent td[name="lowest"] span,
.parent td[name="retail"] span {
    white-space: nowrap;
}



/* eevee */
.eevee table {
    color: #2c2f32;
}
.eevee thead {
    background-color: #ffdb52;
    border-top: 1px solid #d7a44f;
    border-bottom: 2px solid #d7a44f;
    line-height: 25.15px;
}
.eevee th {
    border: 1px solid #d7a44f;
}
.eevee tbody {
    line-height: 20.15px;
    font-weight: 400;
}
.eevee td {
    background-color: #fdf0c8;
    border: 1px solid #fdcf83;
}


/* itcm */
.itcm table {
    color: rgb(70,86,112);
}
.itcm thead {
    background-color:#f6f6f6;
    border-bottom: 1px solid rgb(70,86,112);
    font-weight:700;
    line-height:20.15px;
}
.itcm th {
    border: 1px solid rgb(210,214,224);
}
.itcm tbody {
    font-weight: 400;
    line-height: 20.15px;
}
.itcm td {
    border: 1px solid rgb(210,214,224);
}


/* xmas */
.xmas table {
    color: #FFF;
    text-shadow: none;
}
.xmas thead {
    background-color: #15854b;
    border-top: 1px solid #31355b;
    border-bottom: 2px solid #31355b;
    line-height: 25.15px;
}
.xmas th {
    border: 1px solid #fff;
}
.xmas tbody {
    font-weight: 400;
    line-height: 20.15px;
    color: #fff;
}
.xmas td {
    background-color: #be3e3f;
    border: 1px solid #fff; 
}
.xmas a {
    color: #fff !important;
}


/* sg */
.sg table {
    color: rgb(70,86,112);
}
.sg thead {
    background-color:rgb(232,234,239);
    border-bottom: 1px solid rgb(70,86,112);
    font-weight:700;
    line-height:20.15px;
}
.sg th {
    border: 1px solid rgb(210,214,224);
}
.sg tbody {
    font-weight:400;
    line-height: 20.15px;
}
.sg td {
    border: 1px solid rgb(210,214,224);
}



