/* .default inherits from the following classes */
.default table {
    font-family: Arial, sans-serif;
    font-size: 13px;

    margin: 0 0 15px;

    border-collapse: collapse;

    color: inherit;
    text-shadow: 1px 1px rgba(255,255,255,.94);
}
.default thead,
.default tbody {
    line-height: 20.15px;
}
.default th,
.default td {
    padding: 3px 10px;

    text-align: center;

    border: 1px solid gray;
}
.default th[name='game'] {
    width: auto;
}
.default th[name='retail'] {
    padding: 3px 13px;
}
.default th[name='ratings'] {
    padding: 3px 35px;
}
.default td[name='game'] {
    text-align: left;
}
.default td[name='lowest'],
.default td[name='retail'] {
    text-align: right;
}
.default td[name='lowest'] span,
.default td[name='retail'] span {
    white-space: nowrap;
}



/* eevee */
.eevee table {
    color: #2c2f32;
}
.eevee thead {
    line-height: 25.15px;

    border-top: 1px solid #d7a44f;
    border-bottom: 2px solid #d7a44f;
    background-color: #ffdb52;
}
.eevee th {
    border: 1px solid #d7a44f;
}
.eevee td {
    border: 1px solid #fdcf83;
    background-color: #fdf0c8;
}


/* itcm */
.itcm table {
    color: rgb(70,86,112);
}
.itcm thead {
    border-bottom: 1px solid rgb(70,86,112);
    background-color: #f6f6f6;
}
.itcm th {
    border: 1px solid rgb(210,214,224);
}
.itcm td {
    border: 1px solid rgb(210,214,224);
}


/* xmas */
.xmas table {
    color: #fff;
    text-shadow: none;
}
.xmas thead {
    border-top: 1px solid #31355b;
    border-bottom: 2px solid #31355b;
    background-color: #15854b;
}
.xmas th {
    border: 1px solid #fff;
}
.xmas td {
    border: 1px solid #fff;
    background-color: #be3e3f;
}
.xmas a {
    color: inherit !important;
}


/* sg */
.sg table {
    color: rgb(70,86,112);
}
.sg thead {
    border-bottom: 1px solid rgb(70,86,112);
    background-color: rgb(232,234,239);
}
.sg th {
    border: 1px solid rgb(210,214,224);
}
.sg td {
    border: 1px solid rgb(210,214,224);
}
