#steamcb {
    padding : 10;
    font-family : Arial, sans-serif;
    font-size : 13px;
}


#steamcb div.toolbox {
    float : right;
    padding: 3px 0px 0px 0px;
}
#steamcb i.fa {
    font-size: 17px;
    color: #a0a3ab;
    margin : 0px 4px;
    cursor : pointer;
}
#steamcb i.fa:hover {
    color: #254396;
}
#steamcb i.cb-btnShow {
    margin : 0px 0px 0px 15px;
}
#steamcb i.cb-btnReset {
    position: absolute;
    bottom : 0px;
    right: 0px;
}
#steamcb i.cb-btnReset:hover {
    color: #f00;
}
#steamcb select.selStyle {
    width : 80px;
    height : 19px;
    border : 1px solid #CCC;
    color : #254396;
    text-align: center;
}


#cb-header {
    float : top;
    padding : 7px;
    border-top : 1px solid #CCC;
    border-bottom : 1px solid #CCC;
}
#cb-header input.cb-searchBar {
    padding : 0px 23px;
    width : 80%;
    height : 25px;
    border-radius : 20px;
    border : solid #d2d6e0;
    font-style: italic;
}
#cb-header i.cb-searchIcon {
    position: absolute;
    margin: 4px 0px 0px 7px;
}


#cb-article[type='popup'] {
    float : left;
    padding : 10px;
    width : calc(100% - 120px);
    height : calc(100% - 200px);
    overflow : auto;
}
#cb-article[type='side'] {
    float : none;
    overflow : auto;
}


#cb-aside {
    position : relative;
    float : right;
    width : 80px;
    height : calc(100% - 200px);
    padding : 10px;
    overflow-x : hidden;
    overflow-y : auto;
}


#cb-trashbox {
    min-width : 80px;
    max-width : 80px;
    margin : 30px 0px;
    border : .5px solid #CCC;
    border-spacing : 0px;
    cursor: pointer;
}
#cb-trashbox:hover {
    background: #3589ee;
}
#cb-trashbox caption {
    color: #AAA;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#cb-trashbox tr.cb-sortable-disabled {
    opacity: 0;
}
#cb-trashbox th:not(:first-child),
#cb-trashbox td:not(:first-child) {
    display:none;
}


#cb-message {
    clear : both;
    height : 100px;
    padding : 10px;
    border : .5px solid #CCC;
    overflow : auto;
    word-break : break-all;
}
#cb-message input[type='checkbox'] {
    float : right;
}


.ui-widget-header {
    background: #3589ee;
    color : #FFF;
    line-height: 13px;
    text-shadow : 1px 1px #CCC;
    border-radius: 2;
    box-shadow: 0px 1px 0px 1px #CCC;
}
.ui-autocomplete { z-index:120 !important;}
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 20px 4px 4px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    border-bottom: #000 2px solid;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    border-bottom: #000 2px solid;
}